/*
** #BODY
*/

html {
  height: 100%;
  margin: 10%;
  padding: 5%;
}

body {
  font-family: "comic sans ms", sanf-serif;
  font-size: 100%;
  color: black;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

div.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

div.content {
  flex: 1 0 auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

div.footer {
  flex: 0 0 auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*
** #SECTION
*/

div.section {
  font-size: 4em;
  text-align: left;
  width: 95%;
  padding: 0px;
  margin-left: 5%;
  margin-bottom: 1.25em;
  /*position: relative;*/
}
div.in-section {
  margin: 0;
  margin-bottom: 1.25em;
  padding: 0;
  width: 80%;
  float: left;
}
img.top-right {
  width: 70%;
  display: block;
  margin: 0;
  padding: 0;
}
a.top-right {
  display: block;
  float: right;
}
a.top-right-glob-menu {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
}

/*
** #SEARCH
*/

div.search {
  width: 90%;
  height: 2em;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 1.25em;
  border: 0.125em solid black;
  border-radius: 0.625em;
}
div.search1 {
  width: 100%;
  height: 2em;
  margin-bottom: 1.25em;
  border: 0.125em solid black;
  border-radius: 0.625em;
}
input.search {
  width: 80%;
  display: inline-block;
  float: left;
  margin-top: 0.125em;
  margin-left: 3.125em;
  border: 0px;
  font-size: 1.5em;
  margin: 0px;
  padding: 0px;
}
input.search:focus {
  border-color: white;
}
img.search {
  height: 1.875em;
  display: inline-block;
  margin-top: 0.0625em;
  margin-left: 0.1875em;
  float: left;
}
input.found {
  width: 90%;
  height: 2em;
  border: 0.125em solid black;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1.25em;
  text-align: left;
  font-size: 1.5em;
  padding: 0px 0px 0px 0.3125em;
}

/*
** #LIST-OF-USERS
*/

div.list-of-users {
  width: 90%;
  height: 12.5em;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 0.125em;
  border: 0.0625em solid black;
}
img.list-of-users {
  height: 12.5em;
  display: inline-block;
  float: left;
  margin: 0;
}
div.user-info-in-list {
  height: 12.5em;
  width: 50%;
  display: inline-block;
  float: left;
  border-left: 0.0625em solid black;
}
h1.user-name-1 {
  font-size: 1.5em;
  margin-left: 5%;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  text-align: left;
}
p.user-position-1 {
  font-size: 1em;
  color: grey;
  margin-left: 5%;
  margin-bottom: 1.25em;
  text-align: left;
}

/*
** #OPTIONS-AT-BOTTOM
*/

div.options-at-bottom {
  width: 90%;
  height: 3.75em;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  border: 0px;
  font-size: 1.5em;
  flex: 0 0 auto;
}
div.options-at-bottom-half {
  width: 40%;
  display: block;
  float: right;
  height: 3.75em;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-top: 2%;
  padding: 0;
  border: 0px;
  font-size: 1.5em;
}
a.delete-button {
  width: 100%;
  border: 0.0625em solid black;
  background-color: red;
  font-weight: normal;
  text-align: center;
  color: white;
  box-shadow: 0.1875em 0.1875em black;
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
}
a.delete-button:hoover {
  border: 0.0625em solid black;
  background-color: red;
  font-weight: normal;
  color: white;
  box-shadow: 0.1875em 0.1875em black;
}
a.statement-button {
  width: 100%;
  border: 0.0625em solid black;
  background-color: white;
  font-weight: normal;
  color: black;
  text-align: center;
  box-shadow: 0.1875em 0.1875em black;
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
}
a.add-button-with-option {
  float: right;
}

/*
** #EDIT-REGION
*/

input.city {
  width: 90%;
  height: 1.75em;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1.25em;
  text-align: left;
  font-size: 1.5em;
}
input.city:valid {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0.1875em solid black;
}
select.region {
  width: 90%;
  font-size: 1.5em;
  border: 0.1875em solid black;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1.25em;
}
a.add-region {
  font-size: 1.5em;
  width: 20%;
  color: blue;
  border-bottom: 2px solid blue;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 1.25em;
}

/*
** #CREWS
*/

.link-no-format {
  margin: 0;
  border: 0;
  padding: 0;
  text-decoration: none;
}
.list-of-crews {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  overflow: auto;
  font-size: 100%;
}
.white-button-in-the-list {
  background-color: white;
  border: solid black 0.125em;
  padding-left: 10%;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0.25em;
  width: 100%;
  min-height: 5em;
  font-size: 100%;
}

.blue-button-in-the-list {
  background-color: #93bee5;
  border: solid black 0.125em;
  padding-left: 10%;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0.25em;
  width: 100%;
  min-height: 5em;
  font-size: 100%;
}

div.button-city {
  margin: 0%;
  padding: 0%;
  font-size: 1.75em;
  font-weight: bold;
  color: black;
  text-align: left;
}

div.button-discription-of-city {
  margin: 0%;
  padding: 0%;
  font-size: 1em;
  font-weight: normal;
  color: gray;
  text-align: left;
}
a.add-button-in-list {
  position: fixed;
  bottom: 0;
  right: 0;
}
img.add-button-in-list {
  height: 5em;
}

/*
** #GLOBAL-MENU
*/

.global-menu {
  height: 100%;
  background: #6fa8dc;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  margin-left: 5%;
  border: solid black 0.125em;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  overflow: auto;
}

.in-global-menu {
  color: black;
  font-size: 3em;
  font-style: normal;
  background-color: #6fa8dc;
  border: 0;
  text-decoration: none;
  padding-right: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  flex: 1 0 auto;
}
.simple {
  color: black;
  text-decoration: none;
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  border: 0;
}
.simple:active {
  color: black;
  text-decoration: none;
}

/*
** #EMPLOYEE
*/

img.profile {
  width: 100%;
  border: solid black 0.125em;
  margin: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

img.profile1 {
  width: 100%;
  display: block;
  border: 0;
  margin-top: 0.5em;
  margin-bottom: 25%;
}

img.profile-l {
  width: 100%;
  display: block;
  border: 0;
  margin-top: 0.5em;
  margin-bottom: 5%;
}

img.in-profile {
  width: 10%;
  display: inline-block;
  border: 0;
  float: left;
}

div.employee-main-info {
  font-size: 1.5em;
  color: black;
  text-align: left;
  margin-left: 5%;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.employee-info {
  font-size: 1.25em;
  color: gray;
  text-align: left;
  margin-left: 5%;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.container {
  margin-left: 5%;
}

div.employee-info-img {
  font-size: 1.5em;
  color: black;
  text-align: left;
  float: left;
  left: 20%;
}

/*
** #LOGIN
*/

input.data {
  width: 90%;
  height: 1.75em;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1.25em;
  text-align: center;
  font-size: 1.5em;
  color: gray;
}

input.data:valid {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0.1875em solid black;
}

.register-password {
  font-size: 1.5em;
  width: 30%;
  color: #085394;
  background-color: white;
  border: 0;
  text-decoration: underline;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 0.5em;
}

/*
** #EDIT-ORGANIZATION
*/

input.org-data-r {
  width: 90%;
  height: 1.75em;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1.25em;
  text-align: left;
  font-size: 1.5em;
  color: black;
}
input.org-data-r:valid {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0.1875em solid black;
}
input.org-data-g {
  width: 90%;
  height: 1.75em;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 1.25em;
  text-align: left;
  font-size: 1.5em;
  color: gray;
  font-style: italic;
}
input.org-data-g:valid {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0.1875em solid black;
}
input.org-data-p {
  width: 90%;
  height: 1.75em;
  margin: 0;
  margin-left: 5%;
  margin-bottom: 1.25em;
  text-align: left;
  font-size: 1.5em;
  color: gray;
  font-style: italic;
}
input.org-data-p:valid {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0.1875em solid black;
}
input.org-data-s {
  width: 100%;
  height: 1.75em;
  margin: 0;
  text-align: left;
  font-size: 1.5em;
  color: black;
}
input.org-data-s:valid {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0.1875em solid black;
}
div.index {
  display: inline-block;
  float: left;
  padding: 0;
  margin-bottom: 1.25em;
  margin-left: 5%;
  width: 10%;
}
div.city-with-index {
  display: inline-block;
  float: right;
  padding: 0;
  margin-bottom: 1.25em;
  margin-right: 5%;
  margin-left: 2%;
  width: 78%;
}

/*
** #REGION-VIEW
*/

ul.region-view {
  list-style-image: url('cross.png');
  margin: 0;
  margin-left: 8%;
  margin-bottom: 2em;
  padding: 0;
}
ul.region-view li {
  text-align: left;
  font-size: 1.5em;
  color: black;
}

/*
** #REGISTER
*/

div.container-text-form {
  width: 100%;
  margin-bottom: 4em;
}
div.text-in-line {
  display: inline-block;
  float: left;
  padding: 0;
  margin-left: 5%;
  width: 10%;
  font-size: 1.5em;
}
div.form-in-line {
  display: inline-block;
  float: left;
  padding: 0;
  margin-left: 2%;
  margin-right: 5%;
  width: 78%;
}
img.in-line {
  display: inline-block;
  float: right;
  width: 5%;
}
input.org-reg {
  display: inline-block;
  float: left;
  width: 85%;
  margin-right: 5%;
  text-align: left;
  font-size: 1.5em;
  color: black;
}
input.org-reg:valid {
  border: 0.1875em solid black;
}
select.sex {
  display: inline-block;
  float: right;
  width: 100%;
  font-size: 1.5em;
  border: 0.1875em solid black;
}
div.little-letter {
  width: 90%;
  text-align: justify;
  font-size: 1em;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 8%;
  margin-bottom: 1.25em;
}
div.little-letter-p {
  width: 90%;
  text-align: justify;
  font-size: 1em;
  margin: 0;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
  clear: left;
}

/*
** #ADD-TECH-CLIENT
*/

input.org-reg-g {
  display: inline-block;
  float: left;
  width: 85%;
  margin-right: 5%;
  text-align: left;
  font-style: italic;
  font-size: 1.5em;
  color: gray;
}
input.org-reg-g:valid {
  border: 0;
  border-bottom: 0.1875em solid gray;
}
div.check-b {
  margin-left: 5%;
  margin-right: 10%;
  width: 20%;
  display: inline-block;
  float: left;
  font-size: 1.5em;
  color: black;
}
div.check-b-wide {
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 2em;
  width: 85%;
  display: inline-block;
  font-size: 1.5em;
  color: black;
  text-align: left;
}
div.check-g {
  margin-left: 5%;
  margin-right: 10%;
  width: 20%;
  display: inline-block;
  float: left;
  font-size: 1.5em;
  color: gray;
}
div.check-b-m {
  margin-left: 5%;
  margin-right: 10%;
  width: 20%;
  display: inline-block;
  float: left;
  font-size: 1em;
  color: black;
}
div.check-g-m {
  margin-left: 5%;
  margin-right: 10%;
  width: 20%;
  display: inline-block;
  float: left;
  font-size: 1em;
  color: gray;
}

/*
** #YOUR-PROFILE
*/

div.little-letter-l {
  width: 100%;
  text-align: right;
  margin: 0;
  margin-bottom: 0.5em;
  color: black;
}
ul.nav-bar {
  list-style-type: none;
  margin-bottom: 5%;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border: solid black 0.1875em;
}
li.in-nav-bar {
  float: left;
}
a.link-nav {
  display: block;
  color: black;
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
  font-size: 2em;
  background-color: white;
}
a.link-nav:visited {
  display: block;
  color: black;
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
  font-size: 2em;
  background-color: white;
}
a.link-nav:hover {
  background-color: #95bcf2;
}
a.link-nav:active {
  display: block;
  color: black;
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
  font-size: 2em;
  background-color: #95bcf2;
}
div.section-in-your-profile {
  margin-top: 3%;
  margin-bottom: 2%;
  padding: 2%;
  border: solid black 0.185em;
}
div.section-in-your-profile-b {
  margin-top: 3%;
  margin-bottom: 2%;
  padding: 2%;
  border: solid black 0.185em;
  flex: 0 0 auto;
}
div.centered {
  width: 90%;
  margin: auto;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 2em;
  color: black;
  text-align: center;
}
img.centered-img {
  width: 60%;
  margin: auto;
  margin-bottom: 0;
  margin-top: 0;
}
img.centered-img-wide {
  width: 100%;
  margin: 0;
}

/*
** #PROFILE-IMAGE
*/

.upload-button-l {
  background-color: white;
  border: solid black 0.185em;
  color: black;
  font-size: 2em;
  width: 47%;
  height: 5em;
  margin-right: 1%;
  margin-bottom: 2%;
  box-shadow: 5px 5px 5px black;
  text-align: center;
  text-decoration: none;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.upload-button-r {
  background-color: white;
  border: solid black 0.185em;
  color: black;
  font-size: 2em;
  width: 47%;
  height: 5em;
  margin-right: 1%;
  margin-bottom: 2%;
  box-shadow: 5px 5px 5px black;
  text-align: center;
  text-decoration: none;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
div.text-in-upload {
  color: black;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
div.text-in-statement {
  color: white;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
.cancel-button {
  background-color: #cc0000;
  border: solid black 0.185em;
  color: white;
  font-size: 2em;
  width: 47%;
  height: 7em;
  margin-right: 1%;
  margin-bottom: 2%;
  box-shadow: 5px 5px 5px black;
  text-align: center;
  text-decoration: none;
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
}
.save-button {
  background-color: #6aa84f;
  border: solid black 0.185em;
  color: white;
  font-size: 2em;
  width: 47%;
  height: 7em;
  margin-right: 1%;
  margin-bottom: 2%;
  box-shadow: 5px 5px 5px black;
  text-align: center;
  text-decoration: none;
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
}
img.in-upload-button {
  width: 2em;
}

/*
** #DROP-DOWN-MENU
*/

*, *:before, *:after {
  box-sizing: border-box;
}

header {
  height: 0;
  left: 0;
  padding: 1em;
  position: fixed;
  text-align: right;
  top: 0;
  transition: transform 0.6s;
  width: 100%;
  z-index: 500;
}

main {
  transform-origin: left center;
  transition: transform 0.6s 50ms;
}

.nav-button {
  text-transform: uppercase;
}

.nav-wrapper {
  height: 100%;
  perspective: 1000px;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.6s, visibility 0.6s;
  visibility: hidden;
  width: 80%;
}
.nav-visible .nav-wrapper {
  transform: translateX(0);
  visibility: visible;
}

.nav {
  position: relative;
  transform: rotateY(90deg);
  transform-origin: left center;
  transition: transform 0.6s;
}
.nav-visible .nav {
  transform: rotateY(0deg);
}

.balken {
  width: 4em;
}

.button-lines {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.progress-meter {
  padding: 0;
}

ol.progress-meter {
  padding-bottom: 9.5px;
  list-style-type: none;
}
ol.progress-meter li {
  display: inline-block;
  text-align: center;
  text-indent: -19px;
  height: 36px;
  width: 24.99%;
  font-size: 12px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}
ol.progress-meter li:before {
  position: relative;
  float: left;
  text-indent: 0;
  left: -webkit-calc(50% - 9.5px);
  left: -moz-calc(50% - 9.5px);
  left: -ms-calc(50% - 9.5px);
  left: -o-calc(50% - 9.5px);
  left: calc(50% - 9.5px);
}
ol.progress-meter li.done {
  font-size: 12px;
}
ol.progress-meter li.done:before {
  content: "\2713";
  height: 19px;
  width: 19px;
  line-height: 21.85px;
  bottom: -28.175px;
  border: none;
  border-radius: 19px;
}
ol.progress-meter li.todo {
  font-size: 12px;
}
ol.progress-meter li.todo:before {
  content: "\2B24";
  font-size: 17.1px;
  bottom: -26.95px;
  line-height: 18.05px;
}
ol.progress-meter li.done {
  color: black;
  border-bottom-color: yellowgreen;
}
ol.progress-meter li.done:before {
  color: white;
  background-color: yellowgreen;
}
ol.progress-meter li.todo {
  color: silver;
  border-bottom-color: silver;
}
ol.progress-meter li.todo:before {
  color: silver;
}